@imagePrefix: xrc-image;

.@{imagePrefix} {
    .@{imagePrefix}-inner {
        .@{imagePrefix}-img {
            display: block;
        }

        .@{imagePrefix}-children {
            display: block;
        }
    }
}